alembic==1.13.3
aniso8601==9.0.1
beautifulsoup4==4.12.3
black==24.8.0
blinker==1.8.2
cached-property==1.5.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
cloudinary==1.41.0
colorama==0.4.6
cuid2==2.0.1
Flask==3.0.3
Flask-Cors==5.0.0
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
greenlet==3.1.0
idna==3.10
inflection==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
numpy==1.26.4
pandas==2.2.2
pathspec==0.12.1
platformdirs==4.3.6
psutil==6.1.0
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-http-client==3.3.7
pytz==2024.2
requests==2.32.3
scikit-learn==1.5.2
scikit-surprise==1.1.4
scipy==1.14.1
sendgrid==6.11.0
six==1.16.0
soupsieve==2.6
SQLAlchemy==2.0.35
sqlalchemy-orm==1.2.10
starkbank-ecdsa==2.2.0
threadpoolctl==3.5.0
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.3
Werkzeug==3.0.4
