aniso8601==9.0.1
blinker==1.8.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
Flask-Cors==5.0.0
Flask-RESTful==0.3.10
sqlalchemy-orm==1.2.10
greenlet==3.1.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
pytz==2024.2
six==1.16.0
SQLAlchemy==2.0.35
typing_extensions==4.12.2
Werkzeug==3.0.4
joblib==1.4.2
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.2
python-dateutil==2.9.0.post0
threadpoolctl==3.5.0
tzdata==2024.1
psycopg2-binary==2.9.9
flask_migrate==4.0.7
flask_sqlalchemy==3.1.1
flask_login==0.6.3
cuid2==2.0.1
sendgrid==6.11.0
cloudinary==1.41.0
python-dotenv==1.0.1
requests==2.32.3
beautifulsoup4==4.12.3
sendgrid==6.11.0
cloudinary==1.41.0
python-dotenv==1.0.1
gunicorn==23.0.0