@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 216 100% 63%;
  --primary-muted: 216 100% 63%;
  --secondary: 26 90% 52%;
  --secondary-muted: 26 90% 52%;
  --destructive: 0 100% 63%;

  &, html, body {
    background-color: #21242D;
    color: #ffffff;
  }
}

html {
  min-height: 100vh;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

form {
  .input-container {
    background-color: transparent;
    display: flex;
    flex-direction: column;

    & > label {
      font-size: 0.8rem;
      /* color: rgba(0, 0, 0, 0.8); */

      & > span {
        color: red;
      }
    }

    & > input[type="email"],
    & > input[type="password"],
    & > input[type="text"] {
      outline: none;
      border: none;
      border-bottom: 2px solid hsl(var(--primary-muted));

      &:focus {
        border-bottom: 2px solid hsl(var(--primary));
      }
    }
  }

  & > .password-container {
    position: relative;

    & > input[type="checkbox"] {
      display: none;
    }

    & > label[for="show-password"] {
      position: absolute;
      right: 0;
      bottom: 2px;
      margin-bottom: 0;
      cursor: pointer;

      width: 24px;
      height: 24px;
    }

    /* Password showing/hiding button */
    & > input[type="password"] ~ label[for="show-password"] > svg:nth-child(2) {
      display: none;
    }
    & > input[type="text"] ~ label[for="show-password"] > svg:first-child {
      display: none;
    }
  }

  button {
    border: 2px solid white;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    background-color: hsl(var(--primary));
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: rgb(62, 132, 238);
    }

    &:disabled {
      opacity: 90%;
      cursor: not-allowed;
      pointer-events: none;
      user-select: none;
    }
  }

  a {
    color: hsl(var(--primary));
  }
}

.notification {
  @apply m-4 p-4 rounded-lg bg-primary text-white shadow-lg z-10;
}



.notification.is-danger {
  background-color: var(--destructive);
}