@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ============ CSS RESETS ============ */

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}
/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}
/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
  accent-color: var(--primary);
}
/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
:root {
  --primary: #448FFF;
  --primary-muted: #448fff80;
  --destructive: #ff4444;
}
h1 {
  margin: 0;
}
a {
  color: inherit;
}

/* ============ CSS RESETS ============ */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f1f1f1;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* ============ FONT STYLES ============ */
.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

/* ============ FONT STYLES ============ */



/* ============ GLOBAL STYLES ============ */

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-shadow: 0 10px 20px -20px gray; 
  background-color: white;
}

header > h1 {
  margin: 0;
  border-radius: 8px;
  padding: 4px;
  border: 2px solid var(--primary);
  line-height: 36px;
  font-size: 36px;
  user-select: none;
  cursor: pointer;
  display: flex;
  gap: 8px;

  & > img {
    height: 36px;
    width: 36px;
  }

  & > a {
    cursor: pointer;
    text-decoration: none;
    color: var(--primary);

    &:focus-visible {
      outline: none;
    }
  }
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.hover-button:hover,
.hover-button:has(~ .hover-button:hover) {
  & > .hover-star {
    fill: #FFC700;
  }
}

.container {
  flex: 1;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-page-container {
  justify-content: center;
  
  .notification {
    height: auto;
    user-select: none;
    max-width: 450px;
    width: 100%;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 10px 20px -20px gray;
    background-color: white;
  
    &.is-danger {
      background-color: #8d2222;
      border: 2px solid #FFC7C3;
      color: white;
    }
  }
}

.auth-card {
  user-select: none;
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 10px 20px -20px gray;
  background-color: white;

  .input-container {
    display: flex;
    flex-direction: column;

    & > label {
      font-size: 0.8rem;
      margin-bottom: 0.25rem;
      color: rgba(0, 0, 0, 0.8);

      & > span {
        color: red;
      }
    }

    & > input[type="email"],
    & > input[type="password"],
    & > input[type="text"] {
      outline: none;
      border: none;
      border-bottom: 2px solid var(--primary-muted);

      &:focus {
        border-bottom: 2px solid var(--primary);
      }
    }
  }

  & > .password-container {
    position: relative;

    & > input[type="checkbox"] {
      display: none;
    }

    & > label[for="show-password"] {
      position: absolute;
      right: 0;
      bottom: 2px;
      margin-bottom: 0;
      cursor: pointer;

      width: 24px;
      height: 24px;
    }

    /* Password showing/hiding button */
    & > input[type="password"] ~ label[for="show-password"] > svg:nth-child(2) {
      display: none;
    }
    & > input[type="text"] ~ label[for="show-password"] > svg:first-child {
      display: none;
    }
  }

  button {
    border: 2px solid white;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    background-color: var(--primary);
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: rgb(62, 132, 238);
    }
  }

  a {
    color: var(--primary);
  }
}

.expanding-card {
  max-height: 0px;
  height: 100%;
  padding: 0px;
  overflow: hidden;
  transition: max-height 0.3s;
}

.profile-dropdown-container {
  position: relative;

  & > .profile-picture {
    border-radius: 100%; 
    width: 48px; 
    height: 48px;
    border: 2px solid var(--primary);
    cursor: pointer;
  }

  & > .profile-dropdown {
    position: absolute;
    top: 56px;
    right: 0px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 10px 10px 20px -20px gray;
    background-color: white;
    border: 1px solid var(--primary);
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 1rem;
    z-index: 1000;

    opacity: 0;
    transform: translateX(16px);
    pointer-events: none;
    user-select: none;

    transition-property: opacity, transform;
    transition-timing-function: ease-in-out;
    
    
    & > a {
      line-height: 20px;
  
      display: flex;
      align-items: center;
      gap: 0.25rem;
      padding: 0.5rem 1rem;
      border-radius: 8px;

      &:hover {
        background-color: rgb(0,0,0,0.05);
      }
    }
  }


  & > .profile-dropdown.show {
    opacity: 1;
    transform: translateX(0);

    pointer-events: all;
    user-select: auto;
  }
}

.profile-form-container {
  display: flex;
  gap: 2rem;
  width: 100%;

  & .edit-profile {
    padding: 4px;
    width: 36px;
    height: 36px;
  }

  & .edit-profile.cancel {
    background-color: var(--destructive);

    &:disabled {
      opacity: 0;
      user-select: none;
      pointer-events: none;
    }
  }

  &:has(button.edit-profile:nth-child(2)[data-editing="true"]) {
    & label.img-upload + button {
      display: none;
    }

    & label > div.upload-overlay {
      display: none;
    }
  }

  & > .profile-form {
    width: 100%;
    flex-shrink: 0;
    
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &:has(button.edit-profile:nth-child(2)[data-editing="true"]) {
      & > .input-container {
        & > label > span {
          display: none;
        }
  
        & > input {
          border-bottom: 2px solid var(--primary-muted);
        }
      }

      & > button.save-changes {
        display: none;
      }
    }
  }
}

.img-upload {
  min-width: 256px;
  min-height: 256px;
  width: 256px;
  height: 256px;
  aspect-ratio: 1 / 1;
  overflow: hidden;

  position: relative;
  border: 4px dotted var(--primary);
  border-radius: 1rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  & > .upload-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 2;

    & > svg {
      width: 128px;
      height: 128px;
    }

    & > p {
      color: white;
      margin-top: 0;
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .profile-form-container {
    flex-direction: column;
    gap: 1rem;
  }

  .img-upload {
    width: 100%;
    height: auto;
  }
}

/* ============ GLOBAL STYLES ============ */