{% with auth = current_user %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Streaming Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <script src="{{ url_for('static', filename='scripts/icons.js') }}"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='styles/mainPage.css') }}">
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            "primary": 'var(--primary)',
            "primary-muted": "var(--primary-muted)",
            "secondary": "var(--secondary)",
            "secondary-muted": "var(--secondary-muted)",
            "destructive": "var(--destructive)"
          }
        }
      }
    }
  </script>
</head>
<body class="lg:grid lg:grid-cols-12 mx-auto container">

  {% if auth['is_authenticated'] %}
    <header class="lg:hidden flex items-center justify-between p-4 bg-primary text-white">
      <span class="text-lg font-bold">MovieRec</span>
      <button id="hamburgerButton" class="text-white focus:outline-none">
        <x-hamburger-icon></x-hamburger-icon>
      </button>
    </header>

    <!-- Mobile Sidebar Menu -->
    <aside id="mobileMenu" class="fixed inset-0 bg-gray-800 bg-opacity-90 z-50 p-8 text-white transform -translate-x-full transition-transform duration-300">
      <button id="closeButton" class="text-white mb-6 focus:outline-none">
        <x-close-icon></x-close-icon>
      </button>
      <nav class="flex flex-col space-y-8">
        <div class="grid grid-cols-[48px_1fr] gap-2 font-bold">
          <img src="{{ url_for('static', filename='logo.png') }}" alt="LAIC Logo" class="w-12 h-12 row-span-2">
          <span class="text-lg">LAIC</span>
          <span class="text-lg">MovieRec</span>
        </div>

        <ul class="space-y-4 font-semibold">
          <li class="text-gray-400">Menu</li>
          <a href="/" class="block hover:text-primary">
            <li class="flex items-center space-x-3"><x-home-icon></x-home-icon> <span>Home</span></li>
          </a>
          <a href="/discover?username=your_username" class="block hover:text-primary">
            <li class="flex items-center space-x-3"><x-compass-icon></x-compass-icon> <span>Discover</span></li>
          </a>
        </ul>

        <ul class="space-y-4 font-semibold mt-8">
          <li class="text-gray-400">Library</li>
          <a href="/recent" class="block hover:text-primary">
            <li class="flex items-center space-x-3"><x-clock3-icon></x-clock3-icon> <span>Recent</span></li>
          </a>
        </ul>

        <ul class="mt-8 space-y-4 font-semibold">
          <li class="text-gray-400">General</li>
          <a href="/profile" class="block hover:text-primary">
            <li class="flex items-center space-x-3"><x-settings-icon></x-settings-icon> <span>Settings</span></li>
          </a>
          <a href="/logout" class="block hover:text-primary">
            <li class="flex items-center space-x-3"><x-log-out-icon></x-log-out-icon> <span>Logout</span></li>
          </a>
        </ul>
      </nav>
    </aside>

    <aside class="hidden lg:block col-span-2 p-4 lg:p-10 border-r border-gray-500">
      <nav class="flex flex-col h-full">
        <div class="grid grid-cols-[48px_1fr] gap-2 font-bold">
          <img src="{{ url_for('static', filename='logo.png') }}" alt="LAIC Logo" class="w-12 h-12 row-span-2">
          <span class="text-lg">LAIC</span>
          <span class="text-lg">MovieRec</span>
        </div>

        <div class="flex-1 mt-12">
          <ul class="space-y-4 font-semibold">
            <li class="text-gray-400">Menu</li>
            <a href="/" class="block hover:text-primary">
              <li class="flex items-center space-x-3"><x-home-icon></x-home-icon> <span>Home</span></li>
            </a>
            <a href="/discover?username=your_username" class="block hover:text-primary">
              <li class="flex items-center space-x-3"><x-compass-icon></x-compass-icon> <span>Discover</span></li>
            </a>
          </ul>
          <ul class="mt-8 space-y-4 font-semibold">
            <li class="text-gray-400">Library</li>
            <a href="/recent" class="block hover:text-primary">
              <li class="flex items-center space-x-3"><x-clock3-icon></x-clock3-icon> <span>Recent</span></li>
            </a>
          </ul>
          <ul class="mt-auto space-y-4 font-semibold">
            <li class="text-gray-400">General</li>
            <a href="/profile" class="block hover:text-primary">
              <li class="flex items-center space-x-3"><x-settings-icon></x-settings-icon> <span>Settings</span></li>
            </a>
            <a href="/logout" class="block hover:text-primary">
              <li class="flex items-center space-x-3"><x-log-out-icon></x-log-out-icon> <span>Logout</span></li>
            </a>
          </ul>
        </div>
      </nav>
    </aside>
  {% endif %}

  <main class="col-span-12 lg:col-span-7 p-4 lg:p-10">
    {% block content %}
    {% endblock %}
  </main>

  {% if auth['is_authenticated'] %}
    <aside class="hidden lg:block col-span-3 p-4 lg:p-10 border-l border-gray-500">
      <div class="flex flex-col items-end gap-4">
        <div class="relative">
          <label class="grid grid-cols-[auto_56px_32px] p-4 cursor-pointer text-end hover:bg-white/10 rounded-lg group">
            <span>{{ auth['username'] }}</span>
            <img src="{{ auth['profile_image_url'] }}" alt="{{ auth['username'] | first | upper }}" class="w-12 h-12 rounded-full bg-white/10 ml-2">
            <x-down-icon class="ml-2 transition-transform group-hover:rotate-180"></x-down-icon>
            <span class="text-gray-400">{{ auth['email'] }}</span>
          </label>
          <input type="checkbox" class="hidden" autocomplete="off" name="dropdown"/>
          <div class="absolute right-0 p-4 mt-2 border border-primary bg-white shadow-lg rounded-lg hidden group-hover:block">
            <a href="/profile" class="block py-2 hover:underline"><x-user-icon></x-user-icon> Profile</a>
            <a href="/logout" class="block py-2 hover:underline"><x-log-out-icon></x-log-out-icon> Logout</a>
          </div>
        </div>
      </div>
    </aside>
  {% endif %}

  <script>
    const hamburgerButton = document.getElementById('hamburgerButton');
    const mobileMenu = document.getElementById('mobileMenu');
    const closeButton = document.getElementById('closeButton');

    hamburgerButton.addEventListener('click', () => {
      mobileMenu.classList.toggle('-translate-x-full');
    });

    closeButton.addEventListener('click', () => {
      mobileMenu.classList.add('-translate-x-full');
    });

    // Close the menu when clicking outside
    document.addEventListener('click', (e) => {
      if (!mobileMenu.contains(e.target) && e.target !== hamburgerButton) {
        mobileMenu.classList.add('-translate-x-full');
      }
    });
  </script>
  
</body>
</html>
{% endwith %}
