{% with auth = current_user %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Streaming Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <script src="{{ url_for('static', filename='scripts/icons.js') }}"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='styles/mainPage.css') }}">
</head>
<body>
  {% if auth['is_authenticated'] %}
    <aside class="nav-sidebar">
      <nav>
        <div>
          <img src="{{ url_for('static', filename='logo.png') }}" alt="LAIC Logo" style="height: 48px; width: 48px; grid-row: span 2;">
          <span>LAIC</span>
          <span>MovieRec</span>
        </div>
    
        <div style="flex: 1; display: flex; flex-direction: column; gap: 3rem; margin-top: 6rem;">
          <ul>
            <span>Menu</span>
            <a href="/">
              <li>
                <x-home-icon></x-home-icon> Home
              </li>
            </a>
            <a href="/discover">
              <li>
                <x-compass-icon></x-compass-icon> Discover
              </li>
            </a>
          </ul>
    
          <ul>
            <span>Library</span>
    
            <a href="/recent">
              <li>
                <x-clock3-icon></x-clock3-icon> Recent
              </li>
            </a>
            <a href="/top">
              <li>
                <x-star-icon></x-star-icon> Top Rated
              </li>
            </a>
            <a href="/playlists">
              <li>
                <x-heart-icon></x-heart-icon> Playlists
              </li>
            </a>
            <a href="/watchlist">
              <li>
                <x-plus-square-icon></x-plus-square-icon> Watchlist
              </li>
            </a>
            <a href="/completed">
              <li>
                <x-plus-check-icon></x-plus-check-icon> Completed
              </li>
            </a>
          </ul>
    
          <ul style="margin-top: auto">
            <span>General</span>
    
            <a href="/profile">
              <li>
                <x-settings-icon></x-settings-icon> Settings
              </li>
            </a>
    
            <a href="/logout">
              <li>
                <x-log-out-icon></x-log-out-icon> Logout
              </li>
            </a>
          </ul>
        </div>
      </nav>
    </aside>
    <script>
      const pathname = window.location.pathname;
      document.querySelector(`[href="${pathname}"]`).classList.add('active');
    </script>
  {% endif %}

  {% block content %}
  
  {% endblock %}

  {% if auth['is_authenticated'] %}
    <aside class="profile-sidebar">
      <div class="dropdown-container">
        <div class="dropdown-trigger">
          <div style="display: flex; justify-content: flex-end; gap: 0.5rem; align-items: center; height: 100%;">
            <input name="disableCheckboxThing"type="hidden"value="0"/>   <!-- I'm not sure how this works, but this one being here sets the actual input as disabled by default -->
            <input type="checkbox" name="dropdown" id="profile-dropdown" style="display: none;"/>
            <label style="display: grid; grid-template-columns: 1fr 24px; text-align: end; cursor: pointer; padding: 1rem; transition: background 0.1s ease-in-out; border-radius: 8px;" for="profile-dropdown">
              <span>{{ auth['username'] }}</span>
    
              <x-down-icon style="grid-row: span 2; display: flex; justify-content: center; align-items: center; margin-left: 8px; transition: transform 0.2s ease-in-out;"></x-down-icon>
    
              <span style="color: grey">{{ auth['email'] }}</span>
            </label>
            <img
              src="{{ auth['profile_image_url'] }}"
              alt='{% for i in range(("Joel Gutierrez").split(" ")|length)[:2] %}{{("Joel Gutierrez").split(" ")[i][0]}}{% endfor %}'
              style="height: 48px; width: 48px; border-radius: 1rem; background-color: rgba(255,255,255,0.2);"
            >
          </div>
        </div>
        <div class="dropdown-content">
          <a href="/profile">Profile</a>
          <!-- <a href="/settings">Settings</a> -->
          <a href="/logout">Log Out</a>
        </div>
      </div>
    </aside>
    <script>
      const dropdownTrigger = document.querySelector('.dropdown-trigger');
      const dropdownInput = document.querySelector('input[name="dropdown"]');
    
      document.addEventListener('click', (e) => {
        if (!dropdownTrigger.contains(e.target)) {
          dropdownInput.checked = false;
        }
      });
    </script>
  {% endif %}
</body>
</html>
{% endwith %}
