{% with auth = current_user %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Streaming Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <script src="{{ url_for('static', filename='scripts/icons.js') }}"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='styles/mainPage.css') }}">
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            "primary": 'var(--primary)',
            "primary-muted": "var(--primary-muted)",
            "secondary": "var(--secondary)",
            "secondary-muted": "var(--secondary-muted)",
            "destructive": "var(--destructive)"
          }
        }
      }
    }
  </script>
</head>
<body class="grid-cols-12 mx-auto container">
  {% if auth['is_authenticated'] %}
    
    <aside class="col-span-2 p-10 border-x border-gray-500">
      <nav class="flex flex-col h-full">
        <div class="grid grid-cols-[48px_1fr] gap-2 color-white font-bold">
          <img src="{{ url_for('static', filename='logo.png') }}" alt="LAIC Logo" class="size-12 row-span-2">
          <span class="col-span-1 text-[20px] leading-5">LAIC</span>
          <span class="col-span-1 text-[20px] leading-5">MovieRec</span>
        </div>
    
        <div class="flex-1 flex flex-col gap-12 mt-24 font-semibold [&_ul_span]:mb-2 [&_ul_span]:text-gray-400 [&>ul>a.active]:text-primary [&>ul>a]:relative [&>ul>a:hover]:underline">
          <ul class="flex flex-col [&>a]:py-1.5 [&>a>li]:grid [&>a>li]:grid-cols-[24px_1fr] [&>a>li]:gap-3">
            <span>Menu</span>
            <a href="/">
              <li>
                <x-home-icon></x-home-icon> Home
              </li>
            </a>
            <a href="/discover">
              <li>
                <x-compass-icon></x-compass-icon> Discover
              </li>
            </a>
          </ul>
    
          <ul class="flex flex-col [&>a]:py-1.5 [&>a>li]:grid [&>a>li]:grid-cols-[24px_1fr] [&>a>li]:gap-3">
            <span>Library</span>
    
            <a href="/recent">
              <li>
                <x-clock3-icon></x-clock3-icon> Recent
              </li>
            </a>
            <a href="/top">
              <li>
                <x-star-icon></x-star-icon> Top Rated
              </li>
            </a>
            <a href="/playlists">
              <li>
                <x-heart-icon></x-heart-icon> Playlists
              </li>
            </a>
            <a href="/watchlist">
              <li>
                <x-plus-square-icon></x-plus-square-icon> Watchlist
              </li>
            </a>
            <a href="/completed">
              <li>
                <x-plus-check-icon></x-plus-check-icon> Completed
              </li>
            </a>
          </ul>
    
          <ul class="mt-auto flex flex-col [&>a]:py-1.5 [&>a>li]:grid [&>a>li]:grid-cols-[24px_1fr] [&>a>li]:gap-3">
            <span>General</span>
    
            <a href="/profile">
              <li>
                <x-settings-icon></x-settings-icon> Settings
              </li>
            </a>
    
            <a href="/logout">
              <li>
                <x-log-out-icon></x-log-out-icon> Logout
              </li>
            </a>
          </ul>
        </div>
      </nav>
    </aside>
    <script>
      const pathname = window.location.pathname;
      document.querySelector(`[href="${pathname}"]`).classList.add('active');
    </script>
  {% endif %}

  {% block content %}
  
  {% endblock %}

  {% if auth['is_authenticated'] %}
    <aside class="col-span-3 p-10 border-x border-gray-500">
      <div class="flex justify-end items-center flex-col gap-2">
        <div class="relative dropdown-trigger">
          <label class="grid grid-cols-[auto_56px_32px] p-4 cursor-pointer text-end transition-color rounded-lg transition-colors hover:bg-white/10 has-[input:checked]:bg-white/10 peer group">
            <span>{{ auth['username'] }}</span>
  
            <img
            src="{{ auth['profile_image_url'] }}"
            alt='{% for i in range(( auth["username"] ).split(" ")|length)[:2] %}{{( auth["username"] ).split(" ")[i][0]}}{% endfor %}'
            class="size-12 flex-shrink-0 row-span-2 ml-2 rounded-lg bg-white/10 text-center leading-[48px] font-semibold"
            >
            <x-down-icon class="row-span-2 flex items-center ml-2 transition-transform group-has-[input:checked]:rotate-180"></x-down-icon>
  
            <span class="text-gray-400">{{ auth['email'] }}</span>
            <input type="checkbox" class="hidden" autocomplete="off" name="dropdown"/>
          </label>
          <div class="absolute flex flex-col [&>a]:grid [&>a]:grid-cols-[20px_1fr] [&>a]:gap-2 top-[110px] right-0 p-4 rounded-lg border border-primary w-full -translate-y-10 opacity-0 pointer-events-none select-none transition-all peer-has-[input:checked]:translate-y-0 peer-has-[input:checked]:opacity-100 peer-has-[input:checked]:pointer-events-auto peer-has-[input:checked]:select-auto">
            <a href="/profile" class="py-1 px-2 hover:underline">
              <x-user-icon></x-user-icon> Profile
            </a>
            <a href="/logout" class="py-1 px-2 hover:underline">
              <x-log-out-icon></x-log-out-icon>Logout
            </a>
          </div>
        </div>
      </div>
    </aside>
    <script>
      const dropdownTrigger = document.querySelector('.dropdown-trigger');
      const dropdownInput = document.querySelector('input[name="dropdown"]');
    
      document.addEventListener('click', (e) => {
        if (!dropdownTrigger.contains(e.target)) {
          dropdownInput.checked = false;
        }
      });
    </script>
  {% endif %}
</body>
</html>
{% endwith %}
