{% extends "auth-template.html" %}

{% block form_content %}
<form class="space-y-2" method="POST" action="/login">
  <span style="font-size: large; font-weight: bold; ">LAIC MovieRec Login</span>

  <div class="input-container">
    <label for="email">Email <span>*</span></label>
    <input type="email" id="email" name="email" autocomplete="email" placeholder="Please Enter Your Email">
  </div>

  <div class="input-container password-container">
    <label for="password">Password <span>*</span></label>
    <input type="password" id="password" name="password" autocomplete="current-password" placeholder="Please Enter Your Password">

    <input type="checkbox" id="show-password" name="show-password" checked="">
    <label for="show-password">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye">
        <path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"/>
        <circle cx="12" cy="12" r="3"/>
      </svg>

      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye-off">
        <path d="M10.733 5.076a10.744 10.744 0 0 1 11.205 6.575 1 1 0 0 1 0 .696 10.747 10.747 0 0 1-1.444 2.49"/>
        <path d="M14.084 14.158a3 3 0 0 1-4.242-4.242"/>
        <path d="M17.479 17.499a10.75 10.75 0 0 1-15.417-5.151 1 1 0 0 1 0-.696 10.75 10.75 0 0 1 4.446-5.143"/>
        <path d="m2 2 20 20"/>
      </svg>
    </label>
  </div>

  <label class="!mt-2 flex items-center gap-2 accent-primary">
    <input type="checkbox" id="remember" name="remember">
    Remember Me
  </label>

  <div style="display: grid;">
    <a tabindex="-1" href="/reset-password">Forgot Your Password?</a>
    <a tabindex="-1" href="/signup">Don't have an account? Sign Up</a>
  </div>

  <button class="w-full">Login</button>
</form>

<script>
  const label = document.querySelector('input#show-password + label');
  document.getElementById('show-password').addEventListener('change', function() {
    var passwordInput = document.getElementById('password');
    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
    } else {
      passwordInput.type = 'password';
    }
  });

  const params = new URLSearchParams(window.location.search);
  if (params.has('email')) {
    document.getElementById('email').value = params.get('email');
  }
</script>
{% endblock %}