{% extends 'base.html' %}
{% block title %}{{ movie.title }}{% endblock %}
{% block content %}

<main class="bg-secondary text-primary flex-grow container mx-auto p-6 flex flex-col items-center">
    <section class="bg-white rounded-lg shadow-lg p-6 w-full max-w-xl">
        <h1 class="text-2xl font-bold mb-4">{{ movie.title }}</h1>
        <img src="{{ movie.movie_image }}" alt="{{ movie.title }}" class="rounded-lg w-full h-auto mb-4 shadow-lg">
        <div class="text-gray-700">
            <p class="mb-2"><strong>Rating:</strong> {{ movie.rating }} / 5</p>
            <p class="mb-2"><strong>Year:</strong> {{ movie.year }}</p>
            <p class="mb-2"><strong>Genres:</strong> {{ movie.genres | join(', ') }}</p>
            <p class="mb-4"><strong>Director:</strong> {{ movie.director }}</p>
            <p class="mb-4">
                <strong>Actors:</strong>
                {% for actor in movie.actors %}
                    <a href="{{ actor.wiki_url }}" target="_blank" class="text-secondary hover:underline">{{ actor.name }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
            
            <p><strong>Summary:</strong> {{ movie.summary }}</p>
        </div>
    </section>
</main>

{% endblock %}
