{% extends 'base.html' %}
{% block title %}{{ movie.title }}{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Movie Streaming Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <script src="{{ url_for('static', filename='scripts/icons.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/mainPage.css') }}">
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        colors: {
                            "primary": 'var(--primary)',
                            "primary-muted": "var(--primary-muted)",
                            "secondary": "var(--secondary)",
                            "secondary-muted": "var(--secondary-muted)",
                            "destructive": "var(--destructive)"
                        }
                    }
                }
            }
        </script>
    </head>
    <main>
        <header>
            <nav>
                <a href="{{ url_for('home') }}" class="logo">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
                </a>
            </nav>
        </header>
        <section class="content">
            <h1>{{ movie.title }}</h1>
            <img src="{{ movie.poster }}" alt="{{ movie.title }}" class="rounded-lg w-64 mb-4">
            <p>Rating: {{ movie.rating }}</p>
            <p>Summary: {{ movie.summary }}</p>
        </section>
    </main>
</html>


{% endblock %}