{% extends "base.html" %}

{% block content %}
{% with auth = current_user %}
<main class="m-auto w-full max-w-5xl flex flex-col p-2 md:p-4 lg:p-8">
  <div class="flex items-center justify-between gap-4 flex-wrap">
    <h1 class="text-lg md:text-xl lg:text-2xl mb-2 font-bold">Welcome back, {{ auth['username'] }}</h1>

    <form action="/scrape-letterboxd">
      <button class="text-sm mb-2 p-2 md:px-4">Scrap Letterboxd</button>
    </form>
  </div>
  
  <form method="POST" action="/profile" enctype="multipart/form-data" autocomplete="off" class="!max-w-5xl w-full p-4 rounded-lg bg-black/20 flex flex-col md:flex-row gap-4">
    <!-- PROFILE PICTURE -->
    <div class="flex flex-col gap-2 max-w-64 w-full">
      <label for="pfp" class="relative aspect-square w-full max-size-64 rounded-xl bg-white/10 border-dashed border-4 border-white peer">
        <input disabled type="file" id="pfp" name="pfp" ="image/*" class="w-full aspect-square z-[3] opacity-0 peer">
        {% if auth['profile_image_url'] == '' %}
          <img
            src=""
            class="w-full aspect-square text-9xl absolute top-0 left-0 opacity-50 rounded-lg"
            alt='{% for i in range(auth.profile_image_url.split(" ")|length)[:2] %}{{auth.profile_image_url.split(" ")[i][0]}}{% endfor %}'
          >
          <div class="space-y-2 w-full absolute top-0 left-0 peer-disabled:opacity-50">
            <svg xmlns="http://www.w3.org/2000/svg" class="max-h-[192px] w-full h-full aspect-square flex-1 shrink-0" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M12 13v8"/>
              <path d="M4 14.899A7 7 0 1 1 15.71 8h1.79a4.5 4.5 0 0 1 2.5 8.242"/>
              <path d="m8 17 4-4 4 4"/>
            </svg>
            <p class="w-full text-center text-xl">Upload</p>
          </div>
        {% else %}
          <img
          src="{{ auth['profile_image_url'] }}"
          class="w-full aspect-square text-9xl absolute top-0 left-0 rounded-lg"
          alt='{% for i in range(auth.profile_image_url.split(" ")|length)[:2] %}{{ auth.profile_image_url.split(" ")[i][0] }}{% endfor %}'
          >
        {% endif %}
      </label>
      {% if auth['profile_image_url'] != '' %}
        <button class="w-full bg-destructive hover:bg-destructive/90 peer-has-[input:disabled]:hidden" onclick="deleteProfilePicture()">Delete Profile Picture</button>
      {% endif %}
    </div>

    <!-- OTHER FIELDS -->
    <div class="flex flex-col gap-2 text-sm w-full">
      <button class="ml-auto flex items-center gap-2 edit-button peer p-2 md:px-4" type="button" onclick="enableEditMode()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"/>
          <path d="m15 5 4 4"/>
        </svg>
        <span class="hidden md:flex">Edit Profile</span>
      </button>

      <div class="input-container">
        <label for="email" class="text-white">Email <span>*</span></label>
        <input 
          type="email"
          id="email"
          name="email"
          autocomplete="email"
          value="{{ auth.email }}"
          placeholder="Please Enter Your Email"
          class="border-b-[1px] disabled:!border-gray-400 bg-transparent"
          disabled
        >
      </div>
      
      <div class="input-container">
        <label for="username" class="text-white">Username <span>*</span></label>
        <input 
          type="text"
          id="username"
          name="username"
          autocomplete="username"
          value="{{ auth.username }}"
          placeholder="Please Enter Your Username"
          class="border-b-[1px] disabled:!border-gray-400 bg-transparent"
          disabled
        >
      </div>
  
      <div class="input-container">
        <label for="letterboxd" class="text-white">Letterboxd Username <span>*</span></label>
        <input 
          type="text"
          id="letterboxd"
          name="letterboxd"
          autocomplete="username"
          value="{{ auth.letterboxd_username }}"
          placeholder="Please Enter Your Letterboxd Username"
          class="border-b-[1px] disabled:!border-gray-400 bg-transparent"
          disabled
        >
      </div>

      <div class="flex items-center justify-between gap-2 mt-4 opacity-0 pointer-events-none peer-[&.opacity-0]:mt-auto peer-[&.opacity-0]:opacity-100 peer-[&.opacity-0]:pointer-events-auto">
        <button class="flex items-center gap-2 p-2 md:px-4 cancel-button bg-destructive hover:bg-destructive/90" type="button" onclick="discardChanges()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="12" r="10"/>
            <path d="m15 9-6 6"/>
            <path d="m9 9 6 6"/>
          </svg>
          <span class="hidden md:block">Discard Changes</span>
        </button>

        <button class="flex items-center gap-2 p-2 md:px-4" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M15.2 3a2 2 0 0 1 1.4.6l3.8 3.8a2 2 0 0 1 .6 1.4V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2z"/>
            <path d="M17 21v-7a1 1 0 0 0-1-1H8a1 1 0 0 0-1 1v7"/>
            <path d="M7 3v4a1 1 0 0 0 1 1h7"/>
          </svg>
          <span class="hidden md:block">Save Changes</span>
        </button>
      </div>
    </div>
  </form>
</main>
<script>
  const data = {
    email: '{{ auth.email }}',
    username: '{{ auth.username }}',
    letterboxd: '{{ auth.letterboxd_username }}',
    profile_image_url: '{{ auth.profile_image_url }}' === "None" ? "" : '{{ auth.profile_image_url }}',
    profile_image_id: '{{ auth.profile_image_id }}'
  };

  const pfpPreview = document.querySelector('form>div>label>img');
  const imageInput = document.querySelector('#pfp');
  const inputs = document.querySelectorAll('input');
  const editBtn = document.querySelector('button.edit-button');

  async function enableEditMode() {
    editBtn.classList.add('opacity-0','pointer-events-none');
    inputs.forEach((el) => {
      el.disabled = !el.disabled;
    });
  }

  function discardChanges() {
    document.querySelector('#email').value = data.email;
    document.querySelector('#username').value = data.username;
    document.querySelector('#letterboxd').value = data.letterboxd;
    imageInput.value = '';

    inputs.forEach((el) => {
      el.disabled = !el.disabled;
    });

    const editBtn = document.querySelector('button.edit-button');
    editBtn.classList.remove('opacity-0','pointer-events-none');
  }

  function toggleLoading() {
    const buttons = document.querySelectorAll('button');
    const inputs = document.querySelectorAll('input');
    inputs.forEach((el) => {
      el.disabled = !el.disabled;
    });
    buttons.forEach((el) => {
      el.disabled = !el.disabled;
    });
  }

  function getSrcFromImage(file) {
    return new Promise((resolve, reject) => {
      const reader = new FileReader();
      reader.onload = () => resolve(reader.result);
      reader.onerror = reject;
      reader.readAsDataURL(file);
    });
  }

  async function deleteProfilePicture() {
    toggleLoading()
    
    const req = await fetch('/profile', { method: 'DELETE' });
    const res = await req.json();

    if (res.Status === 200) {
      window.location.reload()
    }

    toggleLoading()
  }

  imageInput.addEventListener('change', async (e) => {
    pfpPreview.setAttribute('src', await getSrcFromImage(e.target.files[0]));
  });
</script>
{% endwith %}
{% endblock %}