{% extends "base.html" %}

{% block content %}
<style>
  body {
    margin: 0;
    width: 100vw;
    max-width: 100vw;
  }
</style>
<img style="position: fixed; top: 0px; left: 0px; height: 100vh; width: 100vw; filter: blur(16px);" src="{{ url_for('static', filename='background.svg') }}"/>
<div class="container auth-page-container" style="z-index: 1;">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% if messages[0].startswith("Error") %}
        <div class="notification is-danger" style="margin-bottom: 0.5rem;">
            {{ messages[0] }}
        </div>
    {% elif messages[0] %}
        <div class="notification" style="margin-bottom: 0.5rem;">
            {{ messages[0] }}
        </div>
    {% endif %}
  {% endif %}


  <form class="auth-card" method="POST" action="/reset-password" style="gap: 0.5rem;">
    <span style="font-size: large; font-weight: bold; ">LAIC MovieRec Reset Password</span>

    <div class="input-container">
      <label for="email">Email <span>*</span></label>
      <input type="email" id="email" name="email" autocomplete="email" placeholder="Please Enter Your Email">
    </div>

    <span style="color: var(--primary); font-size: 0.8rem;">
      If you have an account, you will receive an email with a link to reset your password.
    </span>

    <Button style="margin-top: 0.5rem">Send Reset Token</Button>
  </form>

  <form class="auth-card expanding-card" style="border-top-left-radius: 0px; border-top-right-radius: 0px;" method="POST" action="/reset-password-token">
    <hr style="height: 2px; border: none; background-color: var(--primary); width: 100%; margin: 0px; margin-bottom: 2rem;"/>
    <div class="input-container">
      <label for="reset-token">Reset Token <span>*</span></label>
      <input type="text" id="reset-token" name="reset-token" autocomplete="off" placeholder="Please Enter Your Reset Token">
    </div>

    <div class="input-container password-container">
      <label for="password">New Password <span>*</span></label>
      <input type="password" id="password" name="password" autocomplete="current-password" placeholder="Please Enter Your New Password">
      
      <input type="checkbox" id="show-password" name="show-password" checked="">
      <label for="show-password">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye">
          <path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"/>
          <circle cx="12" cy="12" r="3"/>
        </svg>
        
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye-off">
          <path d="M10.733 5.076a10.744 10.744 0 0 1 11.205 6.575 1 1 0 0 1 0 .696 10.747 10.747 0 0 1-1.444 2.49"/>
          <path d="M14.084 14.158a3 3 0 0 1-4.242-4.242"/>
          <path d="M17.479 17.499a10.75 10.75 0 0 1-15.417-5.151 1 1 0 0 1 0-.696 10.75 10.75 0 0 1 4.446-5.143"/>
          <path d="m2 2 20 20"/>
        </svg>
      </label>
    </div>

    <Button style="margin-top: 0.5rem">Reset Password</Button>
  </form>
</div>

<script>
  const label = document.querySelector('input#show-password + label');
  document.getElementById('show-password').addEventListener('change', function() {
    var passwordInput = document.getElementById('password');
    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
    } else {
      passwordInput.type = 'password';
    }
  });

  const existingTokenErrors = [
    'Password reset email sent successfully.',
    'Token not found.',
    'Token has expired.'
  ]

  const pathQuery = window.location.search;
  if (pathQuery.includes('reset-token')) {
    const form1 = document.querySelector('form.auth-card');
    const form2 = document.querySelector('form.auth-card.expanding-card');

    form2.style.padding = '0 2rem 2rem 2rem';
    form2.style.maxHeight = '1000px';

    form1.style.borderBottomLeftRadius = '0px';
    form1.style.borderBottomRightRadius = '0px';
    form2.style.borderBottomLeftRadius = '24px';
    form2.style.borderBottomRightRadius = '24px';

    const resetToken = pathQuery.split('=')[1];
    document.getElementById('reset-token').value = resetToken;
  }

  const form1 = document.querySelector('form.auth-card');
  const form2 = document.querySelector('form.auth-card.expanding-card');

  if (existingTokenErrors.includes("{{ messages[0] }}")) {
    // Styling the form
    form2.style.padding = '0 2rem 2rem 2rem';
    form2.style.maxHeight = '1000px';

    form1.style.borderBottomLeftRadius = '0px';
    form1.style.borderBottomRightRadius = '0px';
    form2.style.borderBottomLeftRadius = '24px';
    form2.style.borderBottomRightRadius = '24px';

    form1.children[1].children[1].disabled = true
  }
</script>
{% endwith %}
{% endblock %}