{% extends "auth-template.html" %}

{% block form_content %}
<form class="space-y-2" method="POST" action="/reset-password">
  <span style="font-size: large; font-weight: bold; ">LAIC MovieRec Reset Password</span>

  <div class="input-container">
    <label for="email">Email <span>*</span></label>
    <input type="email" id="email" name="email" autocomplete="email" placeholder="Please Enter Your Email">
  </div>

  <span style="color: var(--primary); font-size: 0.8rem;">
    If you have an account, you will receive an email with a link to reset your password.
  </span>

  <Button class="mt-2 w-full">Send Reset Token</Button>
</form>

<hr class="h-0 border-2 border-b-primary w-full my-8"/>

<form class="space-y-2" method="POST" action="/reset-password-token">
  <div class="input-container">
    <label for="reset-token">Reset Token <span>*</span></label>
    <input type="text" id="reset-token" name="reset-token" autocomplete="off" placeholder="Please Enter Your Reset Token">
  </div>

  <div class="input-container password-container">
    <label for="password">New Password <span>*</span></label>
    <input type="password" id="password" name="password" autocomplete="current-password" placeholder="Please Enter Your New Password">
    
    <input type="checkbox" id="show-password" name="show-password" checked="">
    <label for="show-password">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye">
        <path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"/>
        <circle cx="12" cy="12" r="3"/>
      </svg>
      
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye-off">
        <path d="M10.733 5.076a10.744 10.744 0 0 1 11.205 6.575 1 1 0 0 1 0 .696 10.747 10.747 0 0 1-1.444 2.49"/>
        <path d="M14.084 14.158a3 3 0 0 1-4.242-4.242"/>
        <path d="M17.479 17.499a10.75 10.75 0 0 1-15.417-5.151 1 1 0 0 1 0-.696 10.75 10.75 0 0 1 4.446-5.143"/>
        <path d="m2 2 20 20"/>
      </svg>
    </label>
  </div>

  <Button class="mt-2 w-full">Reset Password</Button>
</form>

<script>
  const label = document.querySelector('input#show-password + label');
  document.getElementById('show-password').addEventListener('change', function() {
    var passwordInput = document.getElementById('password');
    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
    } else {
      passwordInput.type = 'password';
    }
  });

  const existingTokenErrors = [
    'Password reset email sent successfully.',
    'Token not found.',
    'Token has expired.'
  ]

  const pathQuery = window.location.search;
  if (pathQuery.includes('reset-token')) {
    const hr = document.querySelector('form');
    const form = document.querySelector('form.hidden');

    hr.classList.remove('hidden')
    form.classList.remove('hidden');

    const resetToken = pathQuery.split('=')[1];
    document.getElementById('reset-token').value = resetToken;
  }
</script>
{% endblock %}